.header-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 2000; /* ENSURE BUTTON IS ALWAYS ON TOP */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.lang-switch {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
}

.lang-switch span {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.lang-switch span:hover {
  opacity: 0.7;
}

.register-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 9999;    
  cursor: pointer;
  padding: 12px 22px;
  border: 1px solid white;
  color: white;
  background: transparent;
  font-size: 14px;
  letter-spacing: 1px;
}


.register-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
