.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}



.hero-text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  padding: 0 20px;
  font-family: "Playfair Display", serif;
}

/* TOP SUBTITLE */
.hero-subtitle {
  font-size: 20px;
  font-weight: 300;
  position: left;
  letter-spacing: 0.18em;
  line-height: 1.3;
  margin-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.95;
}

/* HUGE MAIN TITLE */
.hero-title {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: 0;
  line-height: 1;
  opacity: 0.95;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(0,0,0,0.35);
}

/* DISCOVER MORE SECTION */
.hero-discover {
  margin-top: 90px;
  font-size: 17px;
  letter-spacing: 0.22em;
  font-weight: 400;
  opacity: 0.9;
}

.hero-arrow {
  font-size: 26px;
  margin-top: 8px;
  animation: arrowBounce 1.3s infinite;
}

@keyframes arrowBounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(8px); }
  100% { transform: translateY(0); }
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .hero-subtitle {
    font-size: 18px;
    letter-spacing: 0.12em;
  }

  .hero-title {
    font-size: 70px;
    letter-spacing: 0.15em;
  }

  .hero-discover {
    margin-top: 50px;
    font-size: 15px;
  }

  .hero-arrow {
    font-size: 20px;
  }
}
