.image-row {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.img-box {
  width: 48%;
}

.img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
